/* body {
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}
.container {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.oneProduct {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border: solid orange 1px;
}
#buttonProduct {
  margin-top: 100px;
}

.custom-class {
  border: black solid 1px;
}

.hello {
  background-color: rgb(250, 231, 248);
  display: flex;
  flex-flow: row;

  border: solid orange 1px;
  width: auto;
}

.navbarMain {
  background-color: rgb(41, 75, 67);
}
.outsideOfContainer {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.colpic {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}
