/* body {
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}
.container {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.oneProduct {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border: solid orange 1px;
}
#buttonProduct {
  margin-top: 100px;
}

.custom-class {
  border: black solid 1px;
}

.hello {
  background-color: rgb(250, 231, 248);
  display: flex;
  flex-flow: row;

  border: solid orange 1px;
  width: auto;
}

.navbarMain {
  background-color: rgb(41, 75, 67);
}
.outsideOfContainer {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.colpic {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}
#auth-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#google {
  margin-bottom: 1rem;
}
#auth-form {
  padding: 0.5rem;
  margin: 1rem;
  width: 30%;
}

.buttonInProduct {
  width: 100%;
  margin: 10px;
}
#user-home,
.user-home-comps {
  margin: 1rem;
}

#user-home h4,
h6 {
  margin-top: 2rem;
  margin-left: 1rem;
}
.dropdown {
  background-color: firebrick;
}

.thumbnail {
  width: 50%;
}
.listgrp {
  width: 400px;
  height: 200px;
}
.plusminus {
  width: 40px;
}
